.c_buttons,
.c_buttons--move{
    border: 1.3px solid gray;
    padding: .65em;
}

.c_buttons--move {
    cursor: move;
}

.floating-button-body {
    position: relative;
}

.floating-button-body:hover > .floating-button {
    opacity: 100;
}

.floating-button {
    position: absolute;
    opacity: 0;
}

.buttons-right {
    right: 0;
    top: 0;
    transform: translateX(100%);
}

.add-lecture-button {
    background: white;
    display: inline-block;
    padding: .65em;
    right: 0;
    bottom: 10px;
    cursor: pointer;
}

.top-right-button {
    position: absolute;
    top: 1em;
    right: 1em;
}
