.c_buttons,
.c_buttons--move{
    border: 1.3px solid gray;
    padding: .65em;
}

.c_buttons--move {
    cursor: move;
}

.c_buttons--pointer {
    cursor: pointer;
}

.floating-button-body,
.relative-body {
    position: relative;
}

.pull-right-button {
    position: absolute;
    right: 10px;
    color: darkslateblue;
}

.floating-button-body:hover > .floating-button {
    opacity: 100;
}

.floating-button {
    position: absolute;
    opacity: 0;
}

.buttons-right {
    right: 0;
    top: 0;
    transform: translateX(100%);
}

.add-lecture-button {
    background: white;
    display: inline-block;
    padding: .65em;
    right: 0;
    bottom: 10px;
    cursor: pointer;
}

.top-right-button {
    position: absolute;
    top: 1em;
    right: 1em;
}
.button-plus-sign {
    background: white;
    color: black;
    padding: 1em;
}

.tiny-button {
    padding: .5rem;
    font-size: .6rem;
    font-weight: 700;
    border: 1px solid transparent;
    text-transform: uppercase;
    color: #fff;
    border-radius: 9999px;
    background-color: #ffb900;
    transition: background-color .3s,border .3s;
}

.btn__explore {
    color: aqua;
    padding: 1em 4em;
    border: 2px solid sandybrown;
    border-radius: .4em;
    background: rgba(80,73,255,.3);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s all;
}
