.blue {
    color: blue;
}

.white-bg,
.bg-white {
    background: white;
}



.bg--dark-blue {
    background-color: #222a38;
    color: white;
}

.bd--ash {
    border-color: #9fabbd;
}

.white,
.text-white{
    color: white;
}

.dark-gray {
    background: #0d131e;
}

span.v-stepper__step__step.primary {
    background: red;
}

.help-text {
    color: red;
}


.bg-primary {
    background-color: #222a38;
}

.gray-text {
    color: gray;
}
