.gray-text {
    color: #606f7b;
}

.black-text {
    color: #22292f;
}

.gray-20{
    color: #3d4852;
}

a {
    color: gray-20;
}


.search-form {
    background: #5C0886;
    border-radius: 10px;
    padding: 1em;
    color: #fff;
}

.search-form .text-info {
    padding-left: 15px;
}

.text-info p {
        color: #fff;
}
