
.gray-text {
    color: #606f7b;
}

.black-text {
    color: #22292f;
}

.gray-20{
    color: #3d4852;
}

a {
    color: gray-20;
}


.search-form {
    background: #5C0886;
    border-radius: 10px;
    padding: 1em;
    color: #fff;
}

.search-form .text-info {
    padding-left: 15px;
}

.text-info p {
    color: #fff;
}


.bg-white {
    background-color: white;
}

.center-text {
    text-align: center;
}

.plans-card {
    box-shadow: 3px 2px 2px black;
    padding-top: 1.2rem;
}

.plans-card .grid-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.plans--card--btn {
    margin-top: auto;
}

.plans-card--header {
    color: sky-blue;
    text-align: center;
    color: blue;
}

.plans-card--header h4 {
    text-align: center;
    color: blue;
}

.plans--card--btn {
    width: 100%;
}


.blue-bg {
    background: blue;
    color: #fff;
}

#library-dropdown {
    z-index: 1000;
}

.overlap-all {
    z-index: 1001;
}


.join-mailer {
    text-align: center;
}

.rounded {
    border-radius: 50%;
}


@media (min-width: 50em) {
    .join-mailer {
        max-width: 50%;
    }

    .medium-div {
        max-width: 30%;
        margin-left: auto;
        margin-right: auto;
        padding: .75em;
        box-shadow: 7px 9px 19px -5px rgba(0,0,0,0.47);
    }
}

