
.course-big-banner {
  height: 280px;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: rgb(0, 0, 102);
}

#grid-container,
.course-big-banner--content {
    height: 100%;
}

.course-big-banner--content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

// .course-big-banner:after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
//   background: linear-gradient(to right, rgba(25,19,104,1) 0%,rgba(25,19,104,1) 27%,rgba(32,37,172,1) 51%,rgba(33,38,178,0.96) 53%,rgba(70,149,83,0.3) 85%,rgba(87,201,38,0.3) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
// }

// .course-big-banner-img img {
//   height: 100%;
//   width: 100%;
// }

// .course-big-banner-text {
//   height: 100%;
//   z-index: 4;
// }

// .course-big-banner-text--child {
//   position: absolute;
//   display: flex;
//   height: 100%;
//   flex-flow: column wrap;
//   justify-content: center;
//   align-items: center;
// }



// @media (min-width: 640px) {
//   .course-hero-text {
//     padding-left: 30px;
//   }
// }
