.footer {
  padding-top: 1em;
  background: #0c3e5f; 
  color: #fff; 
}

.social-icons {
  font-size: 1.5em;
}

.social-icons-container {
  margin-top: 2.3em;
}
.social-icons a {
  color: #fff;
  padding-right: .7em;
}

.footer-links li {
  list-style: none;
  padding-left: 0;
}

.footer-links ul {
  list-style: none;
  margin-left: 0;
}

.link-icon {
  padding-right: .9em;
}


.footer div p {
    color: white;
    font-weight: bold;
}

.footer ul li a {
    color: #e1e5ed;
}
