.align-center {
	align-items: center;
}

.rm-txt-area-border {
	border: none;
}

.uppercasewords {
	text-transform: uppercase;
}

.pre-formatted {
  white-space: pre-wrap;
}

.pointer {
    cursor: pointer;
}

.is-horizontal-center {
  justify-content: center;
}

.flex-column {
    flex-direction: column
}
