.has-background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage-hero {
    background-image: url(/../images/stechmax-hero.jpg);
}

.build-a-website-hero {
    background-image: url(/../images/build-a-website-stechmax.svg);
}

.card-sibling {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	// color: white;
	&--primary {
		border-radius: 10px;
		background: #222a38;
	}
	&--secondary {
	background: white;
	}
}

.full-width {
	widows: 100%;
}

// .banner {
//     background-image: url(/../images/banner.jpg);
//     position: relative;
//     min-height: calc(100vh - 56px);
// }
