.mega-menu {   
    // margin-top: 5px; 
    background: rgb(31, 21, 51);
    position: absolute;
    width: 100%;
    z-index: 200;
    opacity: .98;
    color: white;
    // height: 300px;
    ul {
        background: none;
        margin-left: 0;
    }

    ul li {
        list-style: none;
        font-color: white;
        padding-left: .25em;
        line-height: 1.3em;
        // border-bottom: 2px solid rgb(31, 21, 51);
        transition: background .5s;
        a {
                color: #f2f4f7;
                display: inline-block;
                transition: all 0.5s;
                padding: .7em .5em;
                margin-bottom: .2em;
                font-weight: 700;
                text-transform: uppercase;
        }
    }
    .subject-container  {
        background: rgb(41,61,80);
        margin-top: .3em;
        margin-bottom: .3em;
    }
}

.subject-is-active {
    background: aqua;
    // border-bottom-right-radius: 25px;
    // border-top-right-radius: 25px;
    border-bottom-color: dimgray;
    border-bottom-width: 4px;
    transition: background .7s;
}

.subject-container__header {
    display: inline-block;
    color: rgb(242, 244, 247);
    font-weight: bolder;
    padding-left: 1.2em;
    padding-top: .5em;
    letter-spacing: 1px;
}

