
.parallex {
  background-image: url(/../images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;
  position: relative;
  margin-bottom: 70px;
}

.parallex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallex:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}

.parallex-content {
  z-index: 200;
  color: #fff;
}

.parallex p {
    color: #fff;
    text-align: center;
}