.center-elements {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.top {
    position: relative;
    z-index: 100;
}

.scrollable {
    overflow-y: auto;
    height: 523px;
}
